<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Company Name</h2>
      <h4>company.email@example.com</h4>
    </div>
    <img
      src="https://www.logodesign.net/logo/crossed-steel-pillars-2472ld.png"
      alt="example img"
    />
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Useful Charts</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"
    >General Info</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/specific"
    >Specific Info</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/DataSci"
    >Data Science</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Other Utilities</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/schedule">
    <mat-icon>import_contacts</mat-icon>
    Schedule a Visit
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">
    <mat-icon>description</mat-icon>
    Reports
  </a>
</mat-nav-list>
