@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
}

img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}
