<div>
  <app-chart3></app-chart3>
</div>

<mat-divider></mat-divider>

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="cards"
>
  <mat-card fxFlex="25"> <app-card></app-card> </mat-card>
  <mat-card fxFlex="25"> <app-card></app-card> </mat-card>
  <mat-card fxFlex="25"> <app-card></app-card> </mat-card>
  <mat-card fxFlex="25"> <app-card></app-card> </mat-card>
</div>

<br />

<mat-divider></mat-divider>

<br />
